<div id="<%= dom_id article %>">
  <p>
    <strong>Article Name:</strong>
    <%= article.name %>
  </p>

  <p>
    <strong>Article Description:</strong>
    <%= article.description %>
  </p>



  <p>
    <strong>User:</strong>
    <%= article.user.name %>
  </p>

</div>
