

<h1>Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>

<% if can? :create, Article %>
  <%= link_to 'New Article', new_article_path %>
<% end %>

